/* You can add global styles to this file, and also import other style files */

* {
  font-family: 'Open Sans', sans-serif;
}

.align-center {
  text-align: center;
}

a {
  color: #4c9cdf;
  -webkit-font-smoothing: antialiased;
}

::placeholder {
  font-weight: lighter;
  word-spacing: 1px;
}

:-ms-input-placeholder {
  font-weight: lighter;
  word-spacing: 1px;
}
